#eventRegistrations{}

#eventRegistrations .eventBox {
    background-color: white;
    padding: 15px;
    box-shadow: 3px 3px 10px rgba(0,0,0,.3);
    margin-bottom: 20px;
}

#eventRegistrations .registrationDetails .timeRow {
    margin-bottom: 10px;
}

#eventRegistrations .registrationDetails .addedMembers {
    margin-top: 20px;
}

#eventRegistrations .registrationDetails .headCount p {
    margin: 0 0 10px;
    font-size: 15px;
    border-bottom: 1px solid rgba(150,150,150,.3);
}
.nameRow{margin-left:-15px;}
#eventRegistrations .searchBox .nav-tabs.nav-justified {
    margin: 20px 0;
}
#eventRegistrations .searchBox .filters{
    margin:15px 0;
}
#eventRegistrations .searchBox .listOfUserToAdd li{
    cursor:pointer;
    margin-bottom:2px;
}
#eventRegistrations .searchBox .listOfUserToAdd{margin-left:0;padding-left:15px;}
#eventRegistrations .searchBox .listOfUserToAdd li .fa{
opacity:0;
margin-right:10px;
margin-left:-10px;
}
#eventRegistrations #addedUsers .cannotEdit i{display:none;}
#eventRegistrations #addedUsers .headCounts{padding-left:30px;}
#eventRegistrations .searchBox .listOfUserToAdd li .addIcon{color:green;}
#eventRegistrations .searchBox .listOfUserToAdd li .removeIcon{color:red;} 
#eventRegistrations .searchBox .listOfUserToAdd li:hover .addIcon{
    opacity:1;
}

#eventRegistrations .searchBox .newGuest label{padding-left:0;}
#eventRegistrations .searchBox .newGuest button{margin-right:10px;}
#eventRegistrations .eventDetails .appHeading {
    margin-top: 0;
}

#eventRegistrations .eventDetails p {
    margin: 0;
}
#eventRegistrations .eventDetails .eventNavigation a{
    display:block;
    margin-bottom:5px;
    font-weight: 400;
}

#eventRegistrations .eventDetails .eventNavigation a:hover {
    text-decoration: underline;
}
#eventRegistrations .sendButtons button{margin-right:15px;}